body {
    margin: 0;
    padding: 0;
    font-family: 'Satoshi', sans-serif;
}

.container {
    height: 100vh;
    background: linear-gradient(to right, rgba(213, 214, 227, 0.5), rgba(0, 174, 160, 0.5));
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.criar {
    padding: 4%;
    font-size: 50px;
    background-color: #080b3c;
    border: 1px solid #080b3c;
    border-radius: 20px;
    height: 30px;
    width: 30px;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalc {
    background-color: #237ecd;
    color: white;
    width: 50%;
    height: 80%;
    border-radius: 10px;
    padding: 10px;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 3;
}

h1 {
    margin: 0;
    padding-bottom: 10px;
}

.modal-container {
    background-color: #080b3c;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.custom-file-label {
    display: inline-block;
    background-color: #237ecd;
    color: white;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.custom-file-label:hover {
    background-color: #1b5fa7;
}

.file-name {
    margin-left: 10px;
}

.capa, .retrato {
    display: flex;
    flex-direction: column;
}

.imagens {
    display: flex;
    width: 100%;
    justify-content: center;
}

.image-capa, .image-retrato {
    max-width: 60%;
    width: 100%;
    display: none;
    
}


.placeholders {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width: 458px;
    width: 100%;
}

.avaliacao {
    max-width: 15%;
    width: 100%;
    outline: none;
}

.titulo {
    color: #00aea0;
    outline: none;
}

.diminuir-modal {
    width: 100%;
}

.note-editor, .note-frame {
    max-width: 500px;
    width: 100%;
}

.note-editing-area {
    background-color: white;
}

.modal-buttons {
    
    margin: 20px;    
}

.button-cancelar, .button-postar {
    color: white;
    width: 100px;
    border: none;
    border-radius: 10px;
    padding: 11px;
    cursor: pointer;
}

.button-cancelar {
    background-color: #c70e3c;
}

.button-postar {
    background-color: #237ecd;
}

.tela {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 2;
}