.container-estrelas {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 10px;
}

.estrelas {
    display: flex;
    gap: 5px;
}

.estrela {
    width: 30px; 
    height: 30px;
    background: gray;
    clip-path: polygon(
        50% 0%, 61% 35%, 98% 35%, 
        68% 57%, 79% 91%, 50% 70%, 
        21% 91%, 32% 57%, 2% 35%, 39% 35%
    );
}
