body {
    font-family: 'Satoshi', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(0, 174, 160, 0.5));
    padding-top: 5%;
}

main{
    margin-top: 50px;
    margin-bottom: 50px;
}


#swiper-principal {
    width: 70vw;
    height:40vw;
    border-radius: 15px; 
  }

#wrapper-principal {
    width: 100%;
    height: 100%;
}

#slide-principal img {
    width: 100% !important; 
    height: 100% !important; 
}

.swiper-button-next, .swiper-button-prev {
    color: #fff !important;
}


.fade-swipper {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    padding-bottom: 120px;
    color: white;
    background: rgba(0, 0, 0, 0.4); 
    box-shadow: inset 0 0 500px rgba(0, 0, 0, 1.0);
    transition: opacity 0.5s ease-in-out;
    overflow: hidden; 
    padding-left: 90px ;
}

#slide-principal:hover .fade-swipper {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 1;
    transform: scale(1);
}

.nota-swipper {
    font-size: 30px; 
}

.autor-swipper {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 40px;
    height: 40px;          
    margin-top: 20px;
}

.autor-swipper img {
    margin-right: 10px; 
    vertical-align: middle; 
    border-radius: 50%;
}

.nota-e-estrelas-swipper {
    display: flex;
    align-items: center; 
    gap: 8px; 
}

.nota-swipper {
    margin: 0; 
}

.avaliacao-estrelas {
    display: inline-block; 
}



.imagem-usuario {
    width: 30px;               
    height: auto;             
    margin-right: 10px;      
    margin: 10px 0px 10px;  

}

.nome-swipper{
    padding: -50px;
    font-weight: bold;
    font-size: 30px;
    margin: 10px 0px 10px; 
}

.descricao-swipper {
    display: flex;
    width: 50% !important; 
    font-size: 25px;
    margin: 10px 0;
    text-overflow: ellipsis;
}


.botao-swipper {
    margin-top: 40px; 
    margin-bottom: 50px; 
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    height: 40px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
}

.swiper-button-prev{
    left: 10px; 
}

.swiper-button-next {
    right: 10px; 
} 

.comunidade {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size:22px;
    border: none;
    background: rgba(255, 255, 255, 1.0);
    width: 60%;
    margin: 20px auto;
    border-radius: 50px;
    height: 90px;
}


.ultimas-postagens {
    text-align: center;
    color: #000;
    padding: 20px;
    font-size: 20px;
}

#swiper-secundario {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center !important;
    align-items: center !important;
    padding: 1%;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
}

#swiper-secundario
{
    max-width: 100%;
    overflow: hidden; 
    padding: 90px;
}


.post-individual3 {
    background-color: rgba(0, 174, 160, 0.5);
    border-radius: 10px;
    padding: 1%; 
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    color: #0B0B0B;
    text-align: center; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: space-evenly; 
    max-width: 400px !important;
    height: 600px;
    margin: 0; 
}

.imagem-jogo {
    width: 100%; 
    height: auto; 
    border-radius: 10px; 
    margin-bottom: 10px;
}

.autor {
    display: flex; 
    align-items: center; 
    gap: 8px; 
    margin-bottom: 20px;
}

.autor img{
    height: 40px;
    width: 40px;
    border-radius: 100%;

}

.titulo-jogo{
    margin-top: 10px;
    width: 80%;
}

.nome-jogo {
    font-size: 1.5em; 
    margin: 10px 0; 
}

.nota {
    font-size: 1em; 
    margin-top: px; 
    color: #FFC739;
}

.descricao {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    margin: 25px;
    margin-top: -10px;
    width: 80%;
}

.capa-jogo {
    margin-top: 10px;
    width: 150px;
    height: 200px;
    max-height: 300px;
    border-radius: 8px;
    object-fit: cover; 
}

.nota {
    margin-top: -10px;
    font-size: 25px;
}

.nota {
    margin-top: 10px;
    display: flex;
    align-items: center; 
    gap: 8px; 
}

.nota span {
    margin: 0;
    font-size: 25px; 
}

.avaliacao-estrelas {
    display: inline-block; 
}


.post-individual h3 {
    margin-top: 10px; 
    margin-bottom: 5px; 
    font-size: 22px; 
    text-align: center;
}


.botao-veja-mais {
    background-color: #0B0B0B;
    color: #FFF;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    margin-top: 30px;
}

#segundo-next,
#segundo-prev {
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: black !important;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

#swiper-terceiro{
    display: none;
}

.imagem-sobre {
    width: 400px;
    border-radius: 100%;
    float: left;
    shape-outside: circle();
    clip-path: circle();
    margin-right: 100px;
}

.sobre-playstroll {
    text-align: center;
    color: #000;
    padding: 0px 100px 0px 100px;
}

.div-sobre {
    position: relative;
}

.proposito {
    font-size: 35px;
    margin-bottom: 100px;
}

.texto-sobre {
    text-align: left;
    font-size: 30px;
    color: #000;
}

.avaliacao-estrelas-mobile{
    display: none;
}

@media (max-width: 1543px) {
    .imagem-sobre {
        float: none; 
        display: block; 
        margin: 0 auto; 
    }

    .sobre-playstroll {
        padding: 20px; 
    }

    .div-sobre{
        margin-top: -40px;
    }

    .texto-sobre {
        font-size: 25px; 
        margin-top: 40px;
    }

    .comunidade {
        width: 70%;
        padding: 10px 20px; 
        font-size: 15px;
    }


}

/* Responsividade */
@media (max-width: 1024px) {

    #swiper-secundario {
        margin-left: 15% !important;
    }

    .nota-swipper {
        font-size: 15px; 
    }
    
    .autor-swipper {
        display: flex;
        align-items: center;
        justify-items: center;
        width: 30px;
        height: 30px;          
    
    }
    
    .autor-swipper img {
        margin-right: 10px; 
        vertical-align: middle; 
    }
    
    .nome-swipper{
        padding: -50px;
        font-weight: bold;
        font-size: 20px;
        margin: 10px 0px 10px; 
    }
    
    .descricao-swipper {
        max-width: 30vw; 
        font-size: 15px !important;
        font-weight: bold;
        margin: 10px 0;
    }
    
    .botao-swipper {
        margin-top: 10px !important; 
        margin-bottom: 10px !important; 
        background-color: #fff;
        color: #000;
        border: none;
        cursor: pointer;
        border-radius: 50px;
        height: 30px;
        padding-left: 30px !important;
        padding-right: 30px !important;
        font-size: 15px !important;
    }
    .imagem-sobre {
        float: none; 
        display: block; 
        margin: 0 auto; 
    }

    .sobre-playstroll {
        padding: 20px; 
    }

    .div-sobre{
        margin-top: -40px;
    }

    .texto-sobre {
        font-size: 25px; 
        margin-top: 40px;
    }

    .comunidade {
        width: 70%;
        padding: 10px 20px; 
        font-size: 15px;
    }

}

@media (max-width: 768px) {

    .avaliacao-estrelas {
        display: none; /* Oculta a versão padrão para telas menores que 768px */
    }

    .avaliacao-estrelas-mobile {
        display: block; /* Exibe a versão mobile para telas menores que 768px */
    }


    .post-individual3{
        height: 650px;
    }
    
    #swiper-secundario {
        margin-left: 15% !important;
    }
    
    .nome-swipper{
        margin-top: 0px;
    }

    .nota-swipper {
        font-size: 20px; 
    }

    .avaliacao-estrelas{
        display: block;
    }
    
    .autor-swipper {
        display: flex;
        align-items: center;
        justify-items: center;
        width: 30px;
        height: 30px;          
        margin-top: 10px;
    }
    
    .autor-swipper img {
        margin-right: 10px; 
        vertical-align: middle; 
    }
    
    .nome-swipper{
        font-weight: bold;
        font-size: 20px;
        width: 75%;
    }
    
    .descricao-swipper {
        display: none;
    }
    
    .botao-swipper {
        margin-top: 40px; 
        margin-bottom: 50px; 
        background-color: #fff;
        color: #000;
        border: none;
        cursor: pointer;
        border-radius: 50px;
        height: 25px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 20px;
    }


    .swiper-button-next, .swiper-button-prev {
        display: none !important;
    }


    .capa-jogo {
        margin-top: 10px;
        width: 50%;
        height: 50%;
        border-radius: 8px;
        object-fit: cover; 
    }


    .descricao{
        font-size: 15px;
    }

    .nota{
        font-size: 15px;
    }

    .post-individual {
    
        max-width: 90%; 
        margin-bottom: 10px; 
    }

    .post-individual2 {
        display: block;
        display: none;
    }

    .botao-veja-mais{
        margin-bottom: 40px ;
    }


    .imagem-sobre {
        width: 100%; 
        max-width: 200px; 
        margin: 0 auto; 
    }

    .sobre-playstroll {
        padding: 10px; 
    }

    .texto-sobre {
        font-size: 18px; 
    }

    .comunidade {
        width: 70%; 
        padding: 5px 10px; 
        font-size: 15px; 
 }
}



@media (max-width: 480px) {


    #swiper-principal{
        display: none;
    }
    #carrossel-container {
        display: flex;
        flex-direction: column; /* Alinhar elementos em coluna */
        align-items: center;
        justify-content: center;
        max-width: 100%;
        height: 100%;
    }
    
    #swiper-terceiro {
        background-color: transparent;
        padding: 1%;
        color: #0B0B0B;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 300px;
        height: 400px;
        margin: 0;
    }
    
    .swiper-wrapper {
        display: flex;
    }
    
    .swiper-slide {
        width: 100%; /* Garante que cada slide ocupe 100% da largura do contêiner */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .imagem-container {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        overflow: hidden; /* Garantir que o conteúdo não ultrapasse os limites */
    }
    
    .imagem-container::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombreamento suave */
        z-index: -1; /* Colocar o sombreamento atrás da imagem */
    }
    
    .capa-terceiro {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px; /* Garante que a imagem tenha bordas arredondadas também */
    }
    
    
    .post-terceiro {
        position: relative;
        width: 100%;
        height: 100%;
    }
    
    .conteudo-terceiro {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: white;
        justify-items: center;
        background: rgba(0, 0, 0, 0.5); /* Fundo semitransparente para o texto */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 10px; /* Bordas arredondadas para o conteúdo também */
    }
    
    .titulo-terceiro {
        font-size: 16px;
        line-height: 1.5; /* Aumenta a altura da linha */
        margin-top: 50px;
    }
    
    .nota-terceiro {
        display: flex; /* Ativa o Flexbox */
        justify-content: center; /* Centraliza o conteúdo horizontalmente */
        align-items: center; /* Centraliza o conteúdo verticalmente */
        font-size: 20px;
        line-height: 1.5;
        color: #FFC739;
        margin-top: -20px;
        gap: 8px; /* Espaço entre o span e as estrelas */
    }
    
    .avaliacao-estrelas-terceiro {
        display: flex; /* Caso necessário para alinhar as estrelas */
        align-items: center;
    }
    
    .autor-terceiro {
        display: flex;
        align-items: center; /* Centraliza verticalmente o conteúdo */
        justify-content: center; /* Centraliza horizontalmente o conteúdo */
        line-height: 1.5; /* Aumenta a altura da linha */
        margin-top: -20px;
    }
    
    .autor-terceiro img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 5px; /* Espaço entre a imagem e o nome */
    }
    
    .descricao-terceiro {
        font-size: 14px;
        line-height: 1.5; /* Aumenta a altura da linha */
        margin-top: -50px;
        padding-bottom: 25px;
        padding-top: 10px;
    }
    
    .swiper-pagination {
        margin-top: 10px; /* Adiciona espaço acima da paginação para separá-la da imagem */
        text-align: center;
        color:#fff;
    }
    
    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        background-color: #d3d3d3; /* Cor das bolinhas não ativas */
        opacity: 0.7;
    }
    
    .swiper-pagination-bullet-active {
        background-color: #007bff; /* Cor da bolinha ativa */
        opacity: 1;
    }
    
    
    .botao-veja-mais-terceiro{
        display: none;
    }

    #swiper-secundario {
    max-width: 100%;
    overflow: hidden; 
    padding: 0 !important;
}
    #swiper-secundario {
        margin-left: 10% !important;
        width: 80%;
    }


    .nota-swipper {
        font-size: 15px; 
    }
    
    .autor-swipper {
        display: flex;
        align-items: center;
        justify-items: center;
        width: 30px;
        height: 30px;          
    
    }
    
    .autor-swipper img {
        margin-right: 10px; 
        vertical-align: middle; 
    }
    
    .nome-swipper{
        padding: -50px;
        font-weight: bold;
        font-size: 30px;
        margin: 10px 0px 10px; 
    }
    
    .descricao-swipper {
        max-width: 30vw; 
        font-size: 20px;
        font-weight: bold;
        margin: 10px 0;
    }
    
    .botao-swipper {
        margin-top: 40px; 
        margin-bottom: 50px; 
        background-color: #fff;
        color: #000;
        border: none;
        cursor: pointer;
        border-radius: 50px;
        height: 40px;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 20px;
    }


    .swiper-button-next, .swiper-button-prev {
        display: none !important;
    }


    .capa-jogo {
        width: 150px;
        height: 200px;
        max-height: 250px;
        border-radius: 8px;
        object-fit: cover; 
    }

    .descricao{
        font-size: 15px;
    }

    .nota{
        font-size: 15px;
    }

    .post-individual {
    
        max-width: 90%; 
        margin-bottom: 10px; 
    }

    .post-individual2 {
        display: block;
        display: none;
    }


    .imagem-sobre {
        width: 100%; 
        max-width: 200px; 
        margin: 0 auto; 
    }

    .sobre-playstroll {
        padding: 10px; 
    }

    .texto-sobre {
        font-size: 18px; 
    }

    .comunidade {
        width: 70%; 
        padding: 5px 10px; 
        font-size: 15px; 
 }
}

@media (max-width: 375px) {
    .comunidade{
        width: 80%; 
        padding: 5px 10px; 
        font-size: 15px; 
    }
}

@media (max-width: 320px) {

    #carrossel-container{
        width: 80%;
        margin-left: 10% !important;
    }

    #swiper-secundario {
        margin-left: 10% !important;
        width: 80%;
    }
    
    .comunidade{
        width: 50%;
    }

    .descricao{
        font-size: 15px;
    }

    .nota{
        font-size: 15px;
    }

    .imagem-sobre {
        width: 100%; 
        max-width: 200px; 
        margin: 0 auto; 
    }

    .sobre-playstroll {
        padding: 10px; 
    }

    .texto-sobre {
        font-size: 18px; 
    }

    .comunidade {
        width: auto; 
        padding: 5px 10px; 
        font-size: 15px; 
    }
}

@media only screen and (min-width: 1780px){
    main{
        margin-bottom: 200px;
    }
}

@media only screen and (min-width: 2380px){
    main{
        margin-bottom: 250px;
    }
}