body {
    padding: 0;
    margin: 0;
    font-family: 'Satoshi', sans-serif;
}

.gradient {
    height: 100vh;
    background: linear-gradient(to right, rgba(213, 214, 227, 0.5), rgba(0, 174, 160, 0.5));
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    z-index: 1;
}

.parte-de-cima {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 73%;
    width: 100%;
    margin-right: 10%;
}

.table-container {
    margin-right: 10%;
}

.lista{
    text-align: center;
}

.titulo {
    color: white;
    background-color: #080b3c;
    padding: 1% 10%;
    border-radius: 20px;
}

.more {
    padding: 1%;
    font-size: 50px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #080b3c;
    border-radius: 20%;
    border: 1px solid #080b3c;
    color: white;
}

.verificar, .editar, .excluir {
    border-radius: 12px;
    background-color: #237ecd;
    border: 1px solid black;
    color: white;
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
}

.table-container {
    max-width: 73%;
    width: 100%;
}

.lista {
    width: 100%;
    overflow: hidden;
    color: white;    
    border-radius: 10px;
    border-collapse: collapse;
}

.autor-post, .email-post {
    max-width: 70px;
    overflow: hidden;
    white-space: hidden;
    text-overflow: ellipsis;
}

thead{
    background-color: #237ecd;
}

th, td {
    text-align: center;    
    padding: 13px 15px;
}

.lista th {
    font-weight: bold;
}

tbody {
    background-color: #080b3c;
}

.verificar {
    background-color: #00aea0;
}

.editar {
    background-color: #ffc739;
    color: black;
}

.excluir {
    background-color: #c70e3c;
}

.paginas {
    max-width: 850px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1%;
    margin-top: 20px;
    margin-right: 10%;
}

.anterior, .pag1, .proximo{
    width: 36px;
    height: 36px;
    border-radius: 12px;
    background-color: #237ecd;
    border: 1px solid black;
    color: black;
}

.pag1 {
    background-color: #237ecd;
}

.disabled{
    display: none;
}

.active{
    background-color: #080b3c;
    color: white;
}

@media (min-width: 768px) and (max-width: 1023px) {

    .lista tbody td {
        padding: 10px 5px;
    }

    .autor-post, .email-post {
        max-width: 100px;
    }

    .parte-de-cima {
        width: 70%;
    }

    .titulo {
        padding: 8px 25px;
        font-size: 20px;
    }

    .more {
        padding: 20px;
        font-size: 45px;
    }

    .table-container {
        overflow: auto;
        width: 70%;
    }

    .lista {
        margin-right: 30px;
        font-size: 18px;
    }

    th, td {
        text-align: center;
        padding: 1px 18px;
    }

    .paginas {
        width: 70%;
        margin-right: 30px;
    }

    .paginas button {
        height: 25px;
        width: 25px;
    }
}

@media (max-width: 767px){

    .lista tbody td {
        padding: 8px 1px;
    }

    .lista tbody tr {
        border-bottom: 8px;
    }    

    .parte-de-cima {
        width: 70%;
    }

    .titulo {
        padding: 8px;
        font-size: 17px;
    }

    .more {
        padding: 20px;
        font-size: 45px;
    }

    .table-container {
        overflow-x: auto;
        width: 70%;        
    }

    .lista {        
        margin-right: 30px;
        font-size: 12px;
    }

    th, td {
        text-align: center; 
        padding: 1px 8px;
    }

    .paginas {
        width: 70%;
    }

    .paginas button {
        height: 25px;
        width: 25px;
    }
}

@media (max-width: 425px){
.titulo{
    padding-left: 10px;
    width: 65%;
}
}