html, body{
    background-color: #d5d6e3;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.navbar{
    height: 220px;
    background-color: #0b0b3c;
}

.barra-de-pesquisa {
    text-align: right;
    margin-top: 120px;
}

.pesquisa{
    width: 200px;
    height: 36px;
    background-color: #9E9C9C;
    margin-right: 109px;
    margin-left: 13px;
    border-radius: 20px;
}

.barra-de-pesquisa div{
    display: inline-block;
    vertical-align: middle;
}

.busca p{
   font-size: 20px;
}