body {
    padding: 0;
    margin: 0;
    font-family: 'Satoshi', sans-serif;
}

.gradient {
    height: 100vh;
    background: linear-gradient(to right, rgba(213, 214, 227, 0.5), rgba(0, 174, 160, 0.5));
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parte-de-cima {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 700px;
    width: 100%;
}

.titulo {
    text-align: end;
    color: white;
    background-color: #080b3c;
    padding: 2% 10%;
    border-radius: 20px;
}

.more {
    padding: 5%;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #080b3c;
    border: 1px solid #080b3c;
}

button {
    border-radius: 20px;
    background-color: #237ecd;
    border: 1px solid black;
    color: white;
    cursor: pointer;
    height: 30px;
    width: 30px;
    text-align: center;
}

.lista {
    max-width: 700px;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
    overflow: hidden;
    border-radius: 10px;
}

thead{
    background-color: #237ecd;
    padding: 15px;
}

tbody {
    background-color: #080b3c;
    padding: 15px;
}

.verificar {
    background-color: #00aea0;
}

.editar {
    background-color: #ffc739;
    color: black;
}

.excluir {
    background-color: #c70e3c;
}

.paginas {
    max-width: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1%;
}

.pag1 {
    background-color: #080b3c;
}