html, body{
    background-color: #d5d6e3;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.navbar{
    height: 220px;
    background-color: #0b0b3c;
}

.barra-de-pesquisa {
    text-align: right;
    margin-top: 120px;
    margin-bottom: 120px;
}

.pesquisa{
    width: 200px;
    height: 36px;
    background-color: #9E9C9C;
    margin-right: 109px;
    margin-left: 13px;
    border-radius: 20px;
}

.barra-de-pesquisa div{
    display: inline-block;
    vertical-align: middle;
}

.busca p{
   font-size: 20px;
}

.inicialização-dos-posts H4{
    font-size: 24px;
    margin-bottom: 0;
}

.inicialização-dos-posts{
    margin-top: 0px;
    margin-left: 178px;
}

.barra1{
    height: 1px;
    width: 1084px;
    background-color: black;
}

.primeiro-post img{
    width: 160px;
    height: 200px;
    margin-right: 50px;
}
.primeiro-post{
    margin-left: 178px;
    margin-top: 52px;
}

.titulo1 h3{
    font-size: 32px;
    color: #0b0b3c;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}

.primeiro-post div{
    display: inline-block;
    vertical-align: top;
}

.perfil1 img{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-right: 20px;
    margin-top: 0px;
}


.texto div{
    display: block;
}

.user1 p{
    font-size: 10px;
}

.dados div{
    display: inline-block;
    vertical-align: middle;
}
.dados p{
    margin-left: 0px;
}

.conteúdo p{
    font-size: 20px;
}

.conteúdo{
    width: 868px;
}

.barra2{
    height: 1px;
    width: 1084px;
    background-color: black;
    margin-bottom: 44px;
    margin-left: 178px;
}

.segundo-post img{
    width: 160px;
    height: 200px;
    margin-right: 50px;
}
.segundo-post{
    margin-left: 178px;
    margin-top: 52px;
}

.titulo2 h3{
    font-size: 32px;
    color: #0b0b3c;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}

.segundo-post div{
    display: inline-block;
    vertical-align: top;
}

.perfil2 img{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-right: 20px;
    margin-top: 0px;
}


.texto2 div{
    display: block;
}

.user2 p{
    font-size: 10px;
}

.dados2 div{
    display: inline-block;
    vertical-align: middle;
}
.dados2 p{
    margin-left: 0px;
}

.conteúdo2 p{
    font-size: 20px;
}

.conteúdo2{
    width: 868px;
}

.barra3{
    height: 2px;
    width: 1084px;
    background-color: black;
    margin-bottom: 44px;
    margin-left: 178px;
}

.terceiro-post img{
    width: 160px;
    height: 200px;
    margin-right: 50px;
}
.terceiro-post{
    margin-left: 178px;
    margin-top: 52px;
}

.titulo3 h3{
    font-size: 32px;
    color: #0b0b3c;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}

.terceiro-post div{
    display: inline-block;
    vertical-align: top;
}

.perfil3 img{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-right: 20px;
    margin-top: 0px;
}


.texto3 div{
    display: block;
}

.user3 p{
    font-size: 10px;
}

.dados3 div{
    display: inline-block;
    vertical-align: middle;
}
.dados3 p{
    margin-left: 0px;
}

.conteúdo3 p{
    font-size: 20px;
}

.conteúdo3{
    width: 868px;
}

.barra4{
    height: 2px;
    width: 1084px;
    background-color: black;
    margin-bottom: 44px;
    margin-left: 178px;
}

.quarto-post img{
    width: 160px;
    height: 200px;
    margin-right: 50px;
}
.quarto-post{
    margin-left: 178px;
    margin-top: 52px;
}

.titulo4 h3{
    font-size: 32px;
    color: #0b0b3c;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}

.quarto-post div{
    display: inline-block;
    vertical-align: top;
}

.perfil4 img{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-right: 20px;
    margin-top: 0px;
}


.texto4 div{
    display: block;
}

.user4 p{
    font-size: 10px;
}

.dados4 div{
    display: inline-block;
    vertical-align: middle;
}
.dados4 p{
    margin-left: 0px;
}

.conteúdo4 p{
    font-size: 20px;
}

.conteúdo4{
    width: 868px;
}

.barra5{
    height: 2px;
    width: 1084px;
    background-color: black;
    margin-bottom: 44px;
    margin-left: 178px;
}

.quinto-post img{
    width: 160px;
    height: 200px;
    margin-right: 50px;
}
.quinto-post{
    margin-left: 178px;
    margin-top: 52px;
}

.titulo5 h3{
    font-size: 32px;
    color: #0b0b3c;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}

.quinto-post div{
    display: inline-block;
    vertical-align: top;
}

.perfil5 img{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-right: 20px;
    margin-top: 0px;
}


.texto5 div{
    display: block;
}

.user5 p{
    font-size: 10px;
}

.dados5 div{
    display: inline-block;
    vertical-align: middle;
}
.dados5 p{
    margin-left: 0px;
}

.conteúdo5 p{
    font-size: 20px;
}

.conteúdo5{
    width: 868px;
}



.barra6{
    height: 2px;
    width: 1084px;
    background-color: black;
    margin-bottom: 83px;
    margin-left: 178px;
}

.navegação div{
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 12px;
    background-color: #237ECD;
    margin-left: 5px;
    margin-right: 5px;
}

.navegação{
    margin-left: 39%;
    margin-right: 39%;
    margin-bottom: 113px;
}

.navegação h5{
    font-size: 24px;
}

.navegação, .navegação h5{
    vertical-align: middle;
}

.footer{
    width: 100%;
    height: 250px;
    background-color: #0b0b3c;
}





