html, body{
    background-color: #d5d6e3;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.navbar{
    height: 220px;
    background-color: #0b0b3c;
}

.barra-de-pesquisa {
    text-align: right;
    margin-top: 120px;
    margin-bottom: 120px;
}

.pesquisa{
    width: 200px;
    height: 36px;
    background-color: #9E9C9C;
    margin-right: 109px;
    margin-left: 13px;
    border-radius: 20px;
}

.barra-de-pesquisa div{
    display: inline-block;
    vertical-align: middle;
}

.busca p{
   font-size: 20px;
}

.inicialização-dos-posts H4{
    font-size: 24px;
    margin-bottom: 0;
}

.inicialização-dos-posts{
    margin-top: 0px;
    margin-left: 178px;
}

.barra1{
    height: 1px;
    width: 1084px;
    background-color: black;
}

.primeiro-post img{
    width: 160px;
    height: 200px;
    margin-right: 50px;
}
.primeiro-post{
    margin-left: 178px;
    margin-top: 52px;
}

.titulo1 h3{
    font-size: 32px;
    color: #0b0b3c;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}

.primeiro-post div{
    display: inline-block;
    vertical-align: top;
}

.perfil1 img{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-right: 20px;
    margin-top: 0px;
}


.texto div{
    display: block;
}

.user1 p{
    font-size: 10px;
}

.dados div{
    display: inline-block;
    vertical-align: middle;
}
.dados p{
    margin-left: 0px;
}

.conteúdo p{
    font-size: 20px;
}

.conteúdo{
    width: 868px;
}