/* faz o fundo nao ficar branco nos cantos e preenche tudo com degradê */
body { 
    padding: 0;
    margin: 0;        
}

.gradient{
    height: 100vh;
    background-image: linear-gradient(#080B3C, #237ECD,#080B3C); 
    display: flex;
    justify-content: center;
    align-items: center;   

}

/* h1 {
    margin: 0;
} */

.login{
    color: white;
    width: 363px;
    margin: 0 auto;
    border-radius: 20px;
}

.parte-de-cima{
    background-image: linear-gradient(to right, #237ECD,#080B3C);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
}

.parte-de-baixo{
    background-color: rgba(82, 141, 209, 0.5);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

button{
    background-color: #237ECD;
    color: white;
    cursor: pointer;
    border-radius: 50px;
    
}

.botao-login{
    text-align: center;
}

input{
    border-radius: 20px;
}



 