/* faz o fundo nao ficar branco nos cantos e preenche tudo com degradê */
body { 
    padding: 0;
    margin: 0;        
}

.gradient{
    height: 100vh;
    background-image: linear-gradient(#080B3C, #237ECD,#080B3C); 
    display: flex;
    justify-content: center;
    align-items: center;   
    font-family: 'Satoshi', sans-serif;
}

.login{
    color: white;
    width: 280px;
    margin: 0 auto;
    border-radius: 20px;
}

h3 {
    margin: 0;
    padding: 10px 0;
}

.parte-de-cima{
    background-image: linear-gradient(to right, #237ECD,#080B3C);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
}

.parte-de-baixo{
    background-color: rgba(102, 149, 202, 0.5);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 25px; 
}

button{
    background-color: #237ECD;
    color: white;
    cursor: pointer;
    border-radius: 50px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: #237ECD;
}

.botao-login{
    text-align: center;
    padding-bottom: 22px;
}

input{
    border-radius: 5px;
    border: #11518a;
    max-width: 180px;
    width: 100%;   
    padding: 3px; 
}

h4 {
    margin: 0 140px 0 0;    
}

.sessao-login{     
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;    
    align-items: center;
    row-gap: 6px;
}