body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, rgba(213, 214, 227, 1.0), rgba(0, 174, 160, 0.5));
}

.tela{
    width: 100%;
    height: 100%;
    background-color: black;
    display:none;
    opacity: 0.5;
    position: absolute;
    z-index: 2;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao{
    width: 70px;
    height: 30px;
    background-color: #237ecd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.fundo{
    width: 430px;
    height: 660px;
    background-color: #237ecd;
    border-radius: 10px;
    padding: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.textin{
    width: 100%;
    display: flex;
    justify-content: center;
    color: #f5f5f5;
    font-size: 32px;
    margin-bottom: 0;
    margin-top: 0;
}

.edit{
    width: 90%;
    height: 550px;
    border-radius: 10px;
    background-color: #080b3c;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 4;
}

.adiciona{
    width: 100%;
    display: none;
    justify-content: center;
    transform: translateY(-40px);
}

.adiciona button{
    width: 100px;
    height: 30px;
    background-color: #d5d6e3;
    font-size: 12px;
}

.imagem{
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imagem img{
    width: 80px;
    height: 80px;
    border-radius: 80px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.imagem input{
    display: none;
}

.remove{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.botremove{
    width: 50%;
    height: 30px;
    background-color: #c70e3c;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #f5f5f5;
    cursor: pointer;
}

.botremove p{
    margin: 0;
}

.editname{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-bottom: 10px;
}

.editname p{
    margin: 0;
    margin-left: 10%;
    color: #f5f5f5;
}

.editname i{
    font-size: 24px;
}

.name p{
    color: black;
}

.name{
    width: 90%;
    height: 50px;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #d5d6e3;
}

.editname input{
    width: 90%;
    height: 50px;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #d5d6e3;
}

.ename{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: #237ecd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name p{
    margin-right: 20px;
    margin-left: 10px;
}

.senha{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}

.senha i{
    font-size: 24px;
    position: absolute;
    right: 5%;
    bottom: 20%;
    cursor: pointer;

}

.ename{
    justify-self: end;
}

.inputs{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirma{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
}

.conf{
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boty{
    width: 80%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: #237ecd;
    cursor: pointer;
}

.exclui{
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botn{
    width: 80%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: #c70e3c;
    cursor: pointer;
}