body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, rgba(213, 214, 227, 1.0), rgba(0, 174, 160, 0.5));
}

.tela{
    width: 100%;
    height: 100%;
    background-color: black;
    display:none;
    opacity: 0.5;
    position: absolute;
    z-index: 2;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao{
    width: 70px;
    height: 30px;
    background-color: #237ecd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.fundo{
    background-color: #237ecd;
    border-radius: 10px;
    padding: 20px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.textin{
    width: 100%;
    display: flex;
    justify-content: center;
    color: #f5f5f5;
    font-size: 32px;
    margin-bottom: 0;
    margin-top: 0;
}

.edit{
    width: 380px;
    padding: 20px;
    border-radius: 10px;
    background-color: #080b3c;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 4;
}

.imagem{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imagem img{
    width: 80px;
    height: 80px;
    border-radius: 80px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.imagem input{
    display: none;
}

.imagem button{
    width: 100%;
    background-color: #237ecd;
    font-size: 14px;
    padding: 10px;
    color: white;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    margin-bottom: 10px;
}

.editimg{
    height: 18px;
    width: 170px;
    background-color: #d5d6e3;
    display: flex;
    justify-content: center;
}

.remove{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.remove button{
    width: 40%;
    background-color: #c70e3c;
    border-radius: 5px;
    border: 0;
    font-size: 14px;
    padding: 5px;
    cursor: pointer;
}

.botremove p{
    margin: 0;
}

.editname, .inputmail, .inputsenha{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.inputsenha{
    width: 100%;
    display: flex;
    flex-direction: row;
}




.inputsenha i{
    position: absolute;
    transform: translateX(170px);
    cursor: pointer;
}

.name p{
    color: black;
}

.name{
    width: 100%;
    height: 50px;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #d5d6e3;
}

.editname input, .inputmail input, .inputsenha input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #d5d6e3;
}

.ename{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: #237ecd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name p{
    margin-right: 20px;
    margin-left: 10px;
}

.ename{
    justify-self: end;
}

.inputs{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.senha{
    width: 90%;
    height: 40px;
}

.confirma{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.conf{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boty{
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: white;
    background-color: #237ecd;
    cursor: pointer;
}

.exclui{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botn{
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: white;
    background-color: gray;
    cursor: pointer;
    transform: translateX(10px);
}
