body {

    font-family: 'Satoshi', sans-serif;

}

.modalex {
    background-color: #c70e3c;
    color: white;
    width: 24%;
    border-radius: 10px;
    padding: 10px;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 3;
}

/* Fundo escurecido */
#tela {
    display: none; /* Inicialmente escondido */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Escurecimento */
    z-index: 2; /* Fica abaixo do modal */
  }

  
h4 {
    margin: 0;
    padding-bottom: 10px;
}


.modal-containerex {
    background-color: #080b3c;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.imgex  {
    margin-top: 20px;
    width: 100%;
    max-width: 150px;
}

.modal-buttonsex {
    display: flex;
    justify-content:space-evenly;
    padding-bottom: 10px;
}

.button-cancelarex, .button-excluirex {
    color: white;
    width: 100px;
    border: none;
    border-radius: 10px;
    padding: 0px;
    cursor: pointer;
}

.button-cancelarex {
    background-color: #646464;
}

.button-cancelarex:hover {
    background-color: #4d4c4c;
}

.button-excluirex {
    background-color: #c70e3c;
}

.button-excluirex:hover {
    background-color: #a6072e;
}

.button-modalex:focus,
.button-modalex:active {
    outline: none;
    box-shadow: none;
}



@media (max-width: 1023px) {


    .modalex {
        max-width: 250px;
        width: 100%;
    }

    .imgex {
        max-width: 150px;
        max-height: 150px;
    }

    .button-modalex {
        width: 90px;
        padding: 10px;
    }

}

@media (max-width: 767px) {
    .containerex {
        padding: 5px;
    }

    .table-containerex {
        max-width: 90%;
    }

    .tabela-postsex {
        max-width: 100%;
    }

    .modalex {
        padding: 10px;
    }

    .button-excluir {
        max-width: 150px;
        max-height: 150px;
    }

    .button-modalex {
        max-width: 100px;
        width: 100%;
        padding: 6px;
        text-align: center;
        font-size: 12px;
    }

    .modal-buttonsex {
        align-items: center;
        gap: 10px;
    }
}
