body{
    margin: 0;
    padding: 0;
    background-color: #D5D6E3;
    font-family: 'Satoshi', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;    
    position: relative;
}

.linha-preta {
    background-color: #000000;
    width: 100%;    
    height: 50%;
    position: relative;
    z-index: 1;
}

.image1{
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    height: 65%;
}

.section-description {    
    position: relative;
    z-index: 1;
    width: 65%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.avaliation-line{
    margin-top: 25%;
    display: flex;      
    align-items: center;  
    gap: 15px;
}

.icon1 {
    position: relative;
}

.icon2 {
    position: absolute;
    justify-content: center;
    transform: translate(50%, -10%);
} 

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

h1 {
    text-align: center;
    color: #00AEA0;
}

.display2 {
    display: flex;
    align-items: end;
    gap: 10px;
}

.image2 {
    width: 30%;
    height: 30%;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .linha-preta {  
        height: 30%;
    }

    .image1 {
        height: 30%;
        width: 65%;
        transform: translate(-50%, -125%);

    }

    .avaliation-line{
        margin-top: 45%;
    }

    .display2{
        align-items: center;
    }

    .image2{
        height: 60%;
        width: 60%;
    }
}

@media (max-width: 767px) {

    .linha-preta {  
        height: 30%;
    }

    .image1 {
        height: 30%;
        width: 65%;
        transform: translate(-50%, -125%);

    }

    .avaliation-line{
        margin-top: 45%;
    }

    .display2{
        flex-direction: column;
        align-items: center;
    }

    .image2{
        height: 60%;
        width: 80%;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
    }

    .icon1 {
        width: 60px;
        height: 60px;
    }

    .icon2 {
        width: 30px;
        height: 30px;
        transform: translate(45%, -10%);

    }

}