body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(0, 174, 160, 0.5));
    font-family: 'Satoshi', sans-serif;
}

.container {
    width: 100%;  
}

.image-container {
    width: 100%;
    left: 50%;
    top: 100px; 
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.image1{
    width: 900px;
    height: 440px;        
    border-radius: 10px; 
}

.main {
    padding-top: 8px;
}

.section-description { 
    max-width: 900px;       
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.avaliation-line{
    margin: 0;
    display: flex;   
    justify-content: space-between;   
    align-items: center;  
}

.icon1 {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.titulo-post-indiv{
    margin-bottom: 20px;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

.dados {
    display: flex;
    gap: 5px;
}

.classificacao {
    display: flex;            /* Ativa Flexbox */
    flex-direction: row;      /* Coloca os elementos lado a lado */
    justify-content: center;  /* Centraliza os elementos horizontalmente */
    align-items: center;      /* Centraliza verticalmente */
    gap: 10px;                /* Espaço entre a nota e as estrelas */
}

.classificacao .star {
    margin: 0;                /* Remove margens padrão do H3 */
    font-size: 1.5em;         /* Ajusta o tamanho da nota */
}

.avaliacao-estrelas {
    display: flex;            /* Garantia de alinhamento das estrelas */
    align-items: center;      /* Alinha as estrelas verticalmente */
}


.star {
    color: #FFC739;
}

h1 {
    text-align: center;
    color: #00AEA0;
}

.display2 {
    display: flex;
    align-items: end;
    gap: 10px;
}

.image2 {
    width: 30%;
    height: 30%;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .linha-preta {  
        height: 180px;
    }



    .image1 {        
        height: 340px;
        object-fit: contain;
    }


    .section-description {
        width: 66%;
    }

    .icon1 {
        height: 50px;
        width: 50px;
    }

    .display2{
        align-items: center;
    }

    .image2{
        height: 45%;
        width: 65%;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }
}

@media (max-width: 767px) {

    .linha-preta {  
        height: 180px;
    }


    .image1 {
        height: 180px;
        object-fit: contain;        
    }

    

    .section-description {
        width: 70%;
    }

    .display2{
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 18px;
    }

    h2 {
        font-size: 14px;
    }

    h3 {
        font-size: 12px;
    }

    .icon1 {
        width: 40px;
        height: 40px;
    }

    .icon2 {
        width: 20px;
        height: 20px;
        transform: translate(50%, 40%);
    }

    p {
        font-size: 10px;
    }

}
