body{
    margin: 0;
    padding: 0;
    background-color: #D5D6E3;
}

.container {
    width: 100%;
    height: 100vh;    
    position: relative;
}

.linha-preta {
    background-color: #000000;
    width: 100%;    
    height: 576px;
    margin-top: 15%;
    position: relative;
    z-index: 1;
}

.image1{
    position: absolute;
    z-index: 10;
    max-width: 998px;
    max-height: 540px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
    width: 100%;
    height: 100%;
}

.section-description {    
    position: relative;
    z-index: 1;
    max-width: 998px;
    width: 100%;
    margin: 0 auto;
}

.avaliation-line{
    margin-top: 160px;
    display: flex;      
    align-items: center;  
}
