:root{
    --principalFont: 'Satoshi';
    /* Paleta da PlayStrool*/
    --firstBlue: 8,11,60;
    --secoundBlue:  0,174,160;
    --red: 199,14,60;
    --yellow: 255,199,57;
    --cyan: 0,174,160;
    --gray: 213,214,227;
    --white: 245,245,245;
    --black: 11,11,11;
}
*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: var(--principalFont), 'sans-serif';
}
body{
    line-height: 1;
}
ol, ul {
	list-style: none;
}
/* Pode ser retirado futuralmente, caso atrapalhe a estilização alheia. */
table {
	border-collapse: collapse;
	border-spacing: 0;
}