* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satoshi', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(0, 174, 160, 0.5));
}

.container {
    width: 80%;
    max-width: 900px;
    text-align: center;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.caixa-titulo {
    background-color: #080B3C;
    padding: 5px 30px;
    border-radius: 8px;
}

.titulo-tabela {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

.btn-criar-post {
    background-color: #080B3C;
    color: #fff;
    border: none;
    font-size: 18px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabela-posts {
    width: 100%;
    border-collapse: collapse;
    background-color: #080B3C;
    border-radius: 10px;
    overflow: hidden;
}

.tabela-posts th, .tabela-posts td {
    padding: 15px;
    color: #fff;
    text-align: center;
}

.tabela-posts th {
    background-color: #237ECD;
    font-weight: bold;
}

.tabela-posts tbody {
    background-color: #080B3C;
}

.btn-acao {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
}

.btn-visualizar {
    background-color: #00AEA0; 
}

.btn-editar {
    background-color: #FFC739; 
    color: #000;
}

.btn-excluir {
    background-color: #C70E3C; 
}
