<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/criar.css">
    <link href="https://api.fontshare.com/v2/css?f[]=satoshi@300,301,400&display=swap" rel="stylesheet">
    <title>Criar</title>
</head>
<body>
    <div class="container">
        <button class="criar">+</button>
    </div>

    <div class="modalc" id="editar">
        <h1>Crie seu post</h1>
        <div class="modal-container">
            <div class="imagens">
                <input type="file" class="image-capa">
                <input type="file" class="image-retrato">            
            </div>
            <input type="number" class="avaliacao" step="0.5" placeholder="Avaliacao">
        </div>
    </div>
</body>
</html>