<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<link href="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote-lite.min.css" rel="stylesheet" />
	<script src="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote-lite.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/public/css/criar.css" />
	<link href="https://api.fontshare.com/v2/css?f[]=satoshi@300,301,400&display=swap" rel="stylesheet" />
	<title>Criar</title>
</head>

<body>
	<div class="container">
		<button class="criar" onclick="abrirModal('editar')">+</button>
	</div>

	<div class="modalc" id="editar">
		<form action="#">
			<h1>Crie seu post</h1>
			<div class="modal-container">
				<div class="imagens">
					<div class="capa">
						<img id="file-name-capa" class="capa-preview" alt="Preview da Capa" />
						<label for="file">Foto modo paisagem</label>
						<label class="custom-file-label" for="file-capa">Escolha uma imagem</label>
						<input type="file" class="image-capa" id="file-capa"
							onchange="previewImage('file-capa', 'file-name-capa', 'capa')" />
						<button id="btn-remover-imagem-capa" style="display: none" onclick="removerImagem('capa')">
							Remover imagem
						</button>
					</div>
					<div class="retrato">
						<img id="file-name-retrato" class="retrato-preview" alt="Preview do Retrato" />
						<label for="file">Foto modo retrato</label>
						<label class="custom-file-label" for="file-retrato">Escolha uma imagem</label>
						<input type="file" class="image-retrato" id="file-retrato"
							onchange="previewImage('file-retrato', 'file-name-retrato', 'retrato')" />
						<button id="btn-remover-imagem-retrato" style="display: none"
							onclick="removerImagem('retrato')">
							Remover imagem
						</button>
					</div>
				</div>
				<div>
					<div class="placeholders">
						<div class="parte-avaliacao">
							<label for="number">Avaliação</label>
							<input type="number" class="avaliacao" step="0.5" min="0" max="5"
								placeholder="Digite uma nota de 0.0 a 5.0" />
						</div>
						<div class="parte-titulo">
							<label for="text">Título</label>
							<input type="text" class="titulo" placeholder="Coloque seu título" />
						</div>
					</div>
					<div class="diminuir-word">
						<div id="summernote"></div>
					</div>
					<div class="modal-buttons">
						<button class="button-cancelar" onclick="fecharModal('editar')">
							Cancelar
						</button>
						<button class="button-postar">Postar</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="tela" id="tela"></div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.9.0/lang/summernote-pt-BR.min.js"></script>
	<script>
		$("#summernote").summernote({
			placeholder: "Crie a sua descrição",
			tabsize: 2,
			height: 120,
			lang: "pt-BR",
			toolbar: [
				["style", ["style"]],
				["font", ["bold", "underline"]],
				["color", ["color"]],
				["para", ["ul", "ol", "paragraph"]],
				["table", ["table"]],
				["insert", ["link", "picture"]],
			],
		});
	</script>
</body>
<script src="/public/js/criar.js"></script>

</html>