<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/public/css/dashboard.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="container">
        <div class="Dashboard">
            <div class="buttons">
                <div>
                    <div class="button square">
                        <div class="posts">
                            <div class="quadrado">
                                <i class="bi bi-triangle"></i>
                            </div>
                            <div class="poststxt">POSTS</div>
                        </div>
                    </div>
                    <div class="button square">
                        <div class="posts">
                            <div class="quadrado">
                                <i class="bi bi-square"></i>
                            </div>
                            <div class="poststxt">USUÁRIOS</div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="button square">
                        <div class="posts">
                            <div class="quadrado">
                                <i class="bi bi-circle"></i>
                            </div>
                            <div class="poststxt">INÍCIO</div>
                        </div>
                    </div>
                    <div class="button square">
                        <div class="posts">
                            <div class="quadrado">
                                <i class="bi bi-x-lg"></i>
                            </div>
                            <div class="poststxt">SAIR</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="imagem"><img src="/app/views/admin/arquivos/Logo_escura_sem_fundo.png"></div>
        </div>
    </div>
</body>
</html>