<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/public/css/dashboard.css">
</head>
<body>
    <div class="container">
        <div class="Dashboard">
            <div class="links">
                <div><button class="bot posts">POSTS</button></div>
                <div><button class="bot usuários">USUÁRIOS</button></div>
                <div><button class="bot saida">SAIR</button></div>
            </div>
            <div class="imagem"><img src="/app/views/admin/arquivos/Logo_escura_sem_fundo.png"></div>
        </div>
</body>
</html>