<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/public/css/excluir.css" />
    <link
      href="https://api.fontshare.com/v2/css?f[]=satoshi@300,301,400&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <title>Excluir</title>
  </head>

  <body>
    <div class="container-e">
      <div class="sub-container-e">
        <div class="table-container-e">
          <table class="tabela-posts-e">
            <thead>
              <tr>
                <th>Excluir</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <button class="btn-acao btn-excluir" onclick="abrirModal('editar-excluir')">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="modal-excluir" id="editar-excluir">
        <form action="#">
          <div class="modal-container-excluir">
            <img
              src="/public/assets/deletar2.png"
              alt=""
              height="100px"
              width="150px"
            />
            <h4>Tem certeza que deseja excluir?</h4>
            <div class="modal-buttons-excluir">
              <button class="button-cancelar" onclick="fecharModal('editar-excluir')">
                Cancelar
              </button>
              <button class="button-excluir">Excluir</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="tela" id="tela"></div>
  </body>

  <script src="/public/js/criar.js"></script>
</html>
