<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/landing-page.css">
    <link href="https://api.fontshare.com/v2/css?f[]=satoshi@400,500&display=swap" rel="stylesheet">
    <title>Play Stroll</title>
</head>
<body>
    <main>
        <div class="sessao-introducao">
            <div class="texto-introducao">
                <h1><span style="color: #FFFFFF;"> Apaixonado por jogos?</h1></span>
                <h2><span style="color: #FFFFFF;">Querendo compartilhar</h2></span>
                <h2><span style="color: #FFFFFF;">suas opiniões e</h2></span>
                <h2><span style="color: #FFFFFF;">experiências?</h2></span>
                <p></p>
                <h2><span style="color: #FFFFFF;">Junte-se a PlayStroll.</h2></span>
                <button class="botao-veja-ultimos">Veja os últimos posts</button>
        </div>
            <div class="imagem-introducao">
                <img src="https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/413150/capsule_616x353.jpg?t=1711128146" alt="Stardew Valley">
    </div>
</div>
        
                <h2>Comunidade <span style="color: #C70E37;">engajada</span> e <span style="color: #C70E37;">diversificada</span> em diferentes tipos de jogos</h2>


    <section class="ultimas-postagens">
        <h3>Últimas publicações</h3>
        <div class="posts">
            <div class="post-individual">
                <img src="post1.jpg" alt="Capa do post 1">
                <h3>Título do Post 1</h3>
                <div class="nota">
                    ★★★★☆ - 4,0
                </div>
                <p class="autor">Autor: Nome do Autor 1</p>
                <button>Leia mais</button>
            </div>

            <div class="post-individual">
                <img src="post2.jpg" alt="Capa do post 2">
                <h3>Título do Post 2</h3>
                <div class="nota">
                    ★★★☆☆ - 3,0
                </div>
                <p class="autor">Autor: Nome do Autor 2</p>
                <button>Leia mais</button>
            </div>

            <div class="post-individual">
                <img src="post3.jpg" alt="Capa do post 3">
                <h3>Título do Post 3</h3>
                <div class="nota">
                    ★★★★★ - 5,0    
                </div>
                <p class="autor">Autor: Nome do Autor 3</p>
                <button>Leia mais</button>
            </div>

            <div class="post-individual">
                <img src="posts" alt="Capa do post 4">
                <h3>Título do Post 4</h3>
                <div class="nota">
                    ★★★★☆ - 4,5
                </div>

                <p class="autor">Autor: Nome do Autor 4</p>
                <button>Leia mais</button>
            </div>

            <div class="post-individual">
                <img src="post5.jpg" alt="Capa do post 5">
                <h3>Título do Post 5</h3>
                <div class="nota">
                    ★★★★★ - 5,0
                </div>
                <p class="autor">Autor: Nome do Autor 5</p>
                <button>Leia mais</button>
                </div>
                </div>  
        </section>
            <div class="sobre-playstroll">
                <h2>Sobre o próposito da PlayStroll</h2>
                <div class="imagem-sobre">
                    <img src="blob:https://pt.imgtools.co/f8cdd634-5396-41cb-9ef1-306b62b1ff97" alt="Imagem sobre PlayStroll" class="imagem-sobre">
                    <div class="texto-sobre">
                        <p>Conectar pessoas apaixonadas por jogos, oferecendo um espaço para descobrir </p>
                        <p>novas experiências e compartilhar opiniões sinceras sobre diversos títulos. </p>
                        <p>O Play Stroll convida os usuários a embarcarem em uma jornada imersiva e </p>
                        <p>diversificada pelo universo dos games, onde cada  review vai além da a-</p>
                        <p>nálise técnica,capturando as emoções e vivências únicas de cada joga-</p>
                        <p>dor. Além disso, o site busca mostrar como os jogos podem impactar </p>
                        <p>profundamente nossa forma de ver o mundo, criando memórias valio-</p>
                        <p>sas que nos acompanham ao longo da vida. Aqui, os usuários podem </p>
                        <p>compartilhar críticas,elogios ou simplesmente relatar momentos marcantes de sua gameplay</p>
                    </div>
                </div>
            </div>
    </main>
</body>
</html>