<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/lista-usuarios.css">
    <link href="https://api.fontshare.com/v2/css?f[]=satoshi@300,301,400&display=swap" rel="stylesheet">
    <title>Lista de usuarios</title>
</head>

<body>
    <div class="gradient">
        <div class="lista">
            <div class="dados">
                <div class="id">
                    <h3>ID</h3>
                    <h5>1</h5>
                    <h5>2</h4>
                    <h5>3</h4>
                    <h5>4</h4>
                    <h5>5</h4>
                </div>
                <div class="nome">
                    <h3>Nome</h3>
                    <h5>Diego Pereira Betti</h3>
                    <h5>Diego Pereira Betti</h3>
                    <h5>Diego Pereira Betti</h3>
                    <h5>Diego Pereira Betti</h3>
                    <h5>Diego Pereira Betti</h3>
                </div>
                <div class="email">
                    <h3>Email</h2>
                    <h5>diegopbetti@gmail.com</h3>
                    <h5>diegopbetti@gmail.com</h3>
                    <h5>diegopbetti@gmail.com</h3>
                    <h5>diegopbetti@gmail.com</h3>
                    <h5>diegopbetti@gmail.com</h3>
                </div>
                <div class="visualizar">
                    <h3>Visualizar</h3>
                    <div>
                        <button>V</button>
                    </div>
                    <div>
                        <button>V</button>
                    </div>
                    <div>
                        <button>V</button>
                    </div>
                    <div>
                        <button>V</button>
                    </div>
                    <div>
                        <button>V</button>
                    </div>
                </div>
                <div class="editar">
                    <h3>Editar</h3>
                    <div>
                        <button>E</button>
                    </div>
                    <div>
                        <button>E</button>
                    </div>
                    <div>
                        <button>E</button>
                    </div>
                    <div>
                        <button>E</button>
                    </div>
                    <div>
                        <button>E</button>
                    </div>
                </div>
                <div class="excluir">
                    <h3>Excluir</h2>
                        <div>
                            <button>X</button>
                        </div>
                        <div>
                            <button>X</button>
                        </div>
                        <div>
                            <button>X</button>
                        </div>
                        <div>
                            <button>X</button>
                        </div>
                        <div>
                            <button>X</button>
                        </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>