<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/lista-usuarios.css">
    <link href="https://api.fontshare.com/v2/css?f[]=satoshi@300,301,400&display=swap" rel="stylesheet">
    <title>Lista de usuarios</title>
</head>

<body>
    <div class="gradient">
        <div class="lista">
            <div class="dados">
                <div class="id">
                    <h2>ID</h2>
                    <h3>1</h3>
                    <h3>2</h3>
                    <h3>3</h3>
                    <h3>4</h3>
                    <h3>5</h3>
                </div>
                <div class="nome">
                    <h2>Nome</h2>
                    <h3>Diego Pereira Betti</h3>
                    <h3>Diego Pereira Betti</h3>
                    <h3>Diego Pereira Betti</h3>
                    <h3>Diego Pereira Betti</h3>
                    <h3>Diego Pereira Betti</h3>
                </div>
                <div class="email">
                    <h2>Email</h2>
                    <h3>diegopbetti@gmail.com</h3>
                    <h3>diegopbetti@gmail.com</h3>
                    <h3>diegopbetti@gmail.com</h3>
                    <h3>diegopbetti@gmail.com</h3>
                    <h3>diegopbetti@gmail.com</h3>
                </div>
                <div class="visualizar">
                    <h2>Visualizar</h2>
                    <div>
                        <button>olho</button>
                    </div>
                    <div>
                        <button>olho</button>
                    </div>
                    <div>
                        <button>olho</button>
                    </div>
                    <div>
                        <button>olho</button>
                    </div>
                    <div>
                        <button>olho</button>
                    </div>
                </div>
                <div class="editar">
                    <h2>Editar</h2>
                    <h3>s2</h3>
                    <h3>s2</h3>
                    <h3>s2</h3>
                    <h3>s2</h3>
                    <h3>s2</h3>
                </div>
                <div class="excluir">
                    <h2>Excluir</h2>
                    <h3>x</h3>
                    <h3>x</h3>
                    <h3>x</h3>
                    <h3>x</h3>
                    <h3>x</h3>
                </div>
            </div>
        </div>
    </div>

</body>

</html>