<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/lista-usuarios.css">
    <link href="https://api.fontshare.com/v2/css?f[]=satoshi@300,301,400&display=swap" rel="stylesheet">
    <title>Lista de usuarios</title>
</head>
<body>
        <div class="lista">
            <div class="Dados">
                <h2>ID</h2>
                <h2>Nome</h2>
                <h2>Email</h2>
                <h2>Visualizar</h2>
                <h2>Edita</h2>
                <h2>Excluir</h2>
            </div>
            <div class="usuarios">
                <div>
                    <h3>1</h3>
                    <h3>Diego Pereira Betti</h3>
                    <h3>diegopbetti@gmail.com</h3>
                    <h3>olho</h3>
                    <h3>s2</h3>
                    <h3>x</h3>
                </div>
                <div>
                    <h3>1</h3>
                    <h3>Diego Pereira Betti</h3>
                    <h3>diegopbetti@gmail.com</h3>
                    <h3>olho</h3>
                    <h3>s2</h3>
                    <h3>x</h3>
                </div>
                <div>
                    <h3>1</h3>
                    <h3>Diego Pereira Betti</h3>
                    <h3>diegopbetti@gmail.com</h3>
                    <h3>olho</h3>
                    <h3>s2</h3>
                    <h3>x</h3>
                </div>
                <div>
                    <h3>1</h3>
                    <h3>Diego Pereira Betti</h3>
                    <h3>diegopbetti@gmail.com</h3>
                    <h3>olho</h3>
                    <h3>s2</h3>
                    <h3>x</h3>
                </div>
                <div>
                    <h3>1</h3>
                    <h3>Diego Pereira Betti</h3>
                    <h3>diegopbetti@gmail.com</h3>
                    <h3>olho</h3>
                    <h3>s2</h3>
                    <h3>x</h3>
                </div>
            </div>
        </div>
</body>
</html>