<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/modal-editar.css">
</head>
<body>
    <div class="container">
        <div class="botao">EDITAR</div>
        <div class="edit">
            <div class="imagem">
                <img src="/app/views/admin/arquivos/perfil.jpg">
                <div class="editimg">TROCAR IMAGEM</div>
            </div>
            <div class="editname">
                
            </div>
        </div>
    </div>
</body>
</html>