<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/modal-visualizar.css">
    <link href="https://api.fontshare.com/v2/css?f[]=satoshi@300,301,400,401,500,501,700,701,900,901&display=swap" rel="stylesheet">
</head>
<body>
    <div class="tela" id="tela"></div>

    <div class="container">
        <div class="visualisar" id="ver">
            <div class="caixa">
                <div class="id">
                    <p class="tit">ID</p>
                    <input type="number" class="box" value="5" readonly>
                </div>
                <div class="email">
                    <p class="tit">Email</p>
                    <input type="text" value="phelippe.VASCOOO@gmail.com" readonly class="box">
                </div>
                <div class="username">
                    <p class="tit">Usuário</p>
                    <input class="box" type="text" value="Phelippe_Coutinho" readonly>
                </div>
                    <div class="imagem-view">
                        <input type="image" src="../site/arquivos/perfil 3.jpg">
                    </div>
                <div class="sair">
                    <div class="botsair" onclick="fecharModal('ver', 'botao')"><p>Fechar</p></div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/public/js/modal-visualizar.js"></script>
</html>