<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/modal-editar.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>

    <div class="tela" id="tela"></div>
    <div class="container">
        <div class="botao" id="bt" onclick="editar('cx', 'bt')">EDITAR</div>
        <div class="fundo" id="cx">
            <p class="textin">EDITAR USUÁRIO</p>
            <div class="edit">
                <div class="imagem">
                    <img src="/app/views/admin/arquivos/perfil.jpg">
                    <div class="editimg">TROCAR IMAGEM</div>
                </div>
                <div class="remove">
                    <div class="botremove"><p>REMOVER IMAGEM</p></div>
                </div>
                <div class="editname">
                    <p>Username</p>
                    <input type="text" value="Phelippe_Coutinho">
                </div>
                <div class="editname">
                    <p>e-mail</p>
                    <input type="text" value="coutinho_VASCOOO@gmail.com">
                </div>
                <div class="editname">
                    <p>Senha</p>
                    <input type="text" value="coutinho123" >
                </div>
                <div class="confirma">
                    <div class="conf">
                        <div class="boty" onclick="editar2('cx', 'bt')">CONFIRMAR</div>
                    </div>
                    <div class="exclui">
                        <div class="botn" onclick="editar2('cx', 'bt')">CANCELAR</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/public/js/modal.editar.js"></script>
</html>