<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/modal-visualizar.css">
</head>
<body>
    <div class="container">
        <div class="visualisar">
            <div class="titulo">Visualização</div>
            <div class="caixa">
                <div class="imagem"><img src="/app/views/admin/arquivos/perfil.jpg" alt=""></div>
                <div class="id">
                    <p class="tit">ID</p>
                    <div class="box">
                        <p>#F7C5I9</p>
                    </div>
                </div>
                <div class="email">
                    <p class="tit">e-mail</p>
                    <div class="box">
                        <p>Phippe.VASCOO@gmail.com</p>
                    </div>
                </div>
                <div class="username">
                    <p class="tit">Usuário</p>
                    <div class="box">
                        <p>Philippe_Coutinho</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>