<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>visualizar</title>
    <link rel="stylesheet" href="/public/css/modal-visualizar.css">
    <link href="https://api.fontshare.com/v2/css?f[]=satoshi@300,301,400,401,500,501,700,701,900,901&display=swap" rel="stylesheet">
</head>
<body>
    <div class="tela" id="tela"></div>

    <div class="container">
        <div class="botview" id="botao"   onclick="abrirModal('ver', 'botao')">VIEW</div>
        <div class="visualisar" id="ver">
            <div class="titulo">Visualização</div>
            <div class="caixa">
                <div class="imagem"><img src="/app/views/admin/arquivos/perfil.jpg" alt=""></div>
                <div class="id">
                    <p class="tit">ID</p>
                    <div class="box">
                        <p>#F7C5I9</p>
                    </div>
                </div>
                <div class="email">
                    <p class="tit">e-mail</p>
                    <div class="box">
                        <p>Phippe.VASCOO@gmail.com</p>
                    </div>
                </div>
                <div class="username">
                    <p class="tit">Usuário</p>
                    <div class="box">
                        <p>Philippe_Coutinho</p>
                    </div>
                </div>
                <div class="sair">
                    <div class="botsair" onclick="fecharModal('ver', 'botao')"><p>FECHAR</p></div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/public/js/modal-visualizar.js"></script>
</html>