<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal de visualizar posts</title>

    <link href="https://api.fontshare.com/v2/css?f[]=satoshi@400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/public/css/read-modal-posts.css">
</head>
<body>
    <div class="container">
        <div class="tabela-container">
            <table class="tabela-posts">
                <thead>
                    <th>Visualizar</th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <button class="btn-acao btn-visualizar" onclick="abrirModal('visualizar')"><i class="fa-regular fa-eye"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="modalc" id="visualizar">
            <div class="modal-header">
                <h3>Visualizar o post</h3>
            </div>
            <div class="modal-container">
                <div id="modalPost--container--header"> 
                    <div id="modalPost--user">
                        <img src="/public/assets/avatar.jfif" alt="Avatar do user">
                        <span>Aang</span>
                    </div>
                    <span id="dataDeCricaoPost">11 de Setembro de 2001</span>
                </div>
                <div id="modalPost--stars">
                    <!-- Necessito pegar as estrelas da lista de posts -->
                </div>

                <div id="modalPost--photos">
                    <figcaption>
                        <img src="/public/assets/banner.jfif" alt="Banner do Post" id="bannerPost">
                        <caption>Foto da capa</caption>
                    </figcaption>
                    <figcaption>
                        <img src="" alt="Retrato do Post" id="retratoPost">
                        <caption>Foto de retrato</caption>
                    </figcaption>
                </div>
                <form action="#" method="get">
                    <label for="">Título: </label>
                    <input type="text" name="tituloPost" id="tituloPost">
                    <label for="conteudoPost">Conteúdo</label>
                    <textarea name="conteudoPost" id="conteudoPost"></textarea>
                </form>
                <div class="modal-buttons"><!-- Elementos com classes com nomes bem semelhantes. Mudança necessária.-->             
                    <!-- O uso duma classe button-modals é recomendada para padronizar todos os botãos de todos os modais.-->
                    <button class="button-modals button-calcelar" onclick="fecharModal('visualizar')">Cancelar</button>
                </div>
            </div>
        </div>
        <div class="tela"></div>
    </div>
</body>
<script src="/public/js/modals.js"></script>
</html>