<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela de Posts</title>
    <link rel="stylesheet" href="/public/css/tabela-de-posts.css">
    <link href="https://api.fontshare.com/v2/css?f[]=satoshi@400,500&display=swap" rel="stylesheet">
</head>
<body>
    
        <div class="container">
            <div class="cabecalho">
                <div class="caixa-titulo">
                    <h1 class="titulo-tabela">Tabela de Posts</h1>
                </div>
            <button class="btn-criar-post"><i class="fas fa-plus"></i></button>
        </div>
       
</body>
</html>