<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela de Posts</title>
    <link rel="stylesheet" href="/public/css/tabela-de-posts.css">
    <link href="https://api.fontshare.com/v2/css?f[]=satoshi@400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="cabecalho">
                <h1 class="titulo">Tabela de Posts</h1>
            <button class="more">+</button>
        </div>
        <div class="table-container">
        <table class="tabela-posts">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Data</th>
                    <th>Visualizar</th>
                    <th>Editar</th>
                    <th>Excluir</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td class="titulo-post">Exemplo de Post 1</td>
                    <td class="autor-post">Nome</td>
                    <td>25/10/2024</td>
                    <td><button class="btn-acao btn-visualizar"><i class="fa-regular fa-eye"></i></button></td>
                    <td><button class="btn-acao btn-editar"><i class="fas fa-edit"></i></button></td>
                    <td><button class="btn-acao btn-excluir"><i class="fas fa-trash"></i></button></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td class="titulo-post">Exemplo de Post 2</td>
                    <td class="autor-post">Nome</td>
                    <td>26/10/2024</td>
                    <td><button class="btn-acao btn-visualizar"><i class="fa-regular fa-eye"></i></button></td>
                    <td><button class="btn-acao btn-editar"><i class="fas fa-edit"></i></button></td>
                    <td><button class="btn-acao btn-excluir"><i class="fas fa-trash"></i></button></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td class="titulo-post">Exemplo de Post 3</td>
                    <td class="autor-post">Nome</td>
                    <td>27/10/2024</td>
                    <td><button class="btn-acao btn-visualizar"><i class="fa-regular fa-eye"></i></button></td>
                    <td><button class="btn-acao btn-editar"><i class="fas fa-edit"></i></button></td>
                    <td><button class="btn-acao btn-excluir"><i class="fas fa-trash"></i></button></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td class="titulo-post">Exemplo de Post 4</td>
                    <td class="autor-post">Nome</td>
                    <td>28/10/2024</td>
                    <td><button class="btn-acao btn-visualizar"><i class="fa-regular fa-eye"></i></button></td>
                    <td><button class="btn-acao btn-editar"><i class="fas fa-edit"></i></button></td>
                    <td><button class="btn-acao btn-excluir"><i class="fas fa-trash"></i></button></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td class="titulo-post">Exemplo de Post 5</td>
                    <td class="autor-post">Nome</td>
                    <td>29/10/2024</td>
                    <td><button class="btn-acao btn-visualizar"><i class="fa-regular fa-eye"></i></button></td>
                    <td><button class="btn-acao btn-editar"><i class="fas fa-edit"></i></button></td>
                    <td><button class="btn-acao btn-excluir"><i class="fas fa-trash"></i></button></td>
                </tr>
            </tbody>
        </table>
        <!-- MODAL DE VISUALIZAR -->
        <div class="modalc" id="visualizar">
            <div class="modal-header">
                <h3>Visualizar o post</h3>
            </div>
            <div class="modal-container">
                <div id="modalPost--container--header"> 
                    <div id="modalPost--user">
                        <img src="/public/assets/avatar.jfif" alt="Avatar do user">
                        <span>Aang</span>
                    </div>
                    <span id="dataDeCricaoPost">11 de Setembro de 2001</span>
                </div>
                <div id="modalPost--stars">
                    <!-- Necessito pegar as estrelas da lista de posts -->
                </div>

                <div id="modalPost--photos">
                    <figure>
                        <img src="/public/assets/banner.jfif" alt="Banner do Post" id="bannerPost">
                        <figcaption>Foto da capa</figcaption>
                    </figure>
                    <figure>
                        <img src="/public/assets/retrato_dark_souls.jfif" alt="Retrato do Post" id="retratoPost">
                        <figcaption>Foto de retrato</figcaption>
                    </figure>
                </div>
                <form action="#" method="get">
                    <label for="">Título: </label>
                    <input type="text" name="tituloPost" id="tituloPost">
                    <label for="conteudoPost">Conteúdo</label>
                    <textarea name="conteudoPost" id="conteudoPost"></textarea>
                </form>
                <div class="modal-buttons"><!-- Elementos com classes com nomes bem semelhantes. Mudança necessária.-->             
                    <!-- O uso duma classe button-modals é recomendada para padronizar todos os botãos de todos os modais.-->
                    <button class="button-modals button-calcelar" onclick="fecharModal('visualizar')">Cancelar</button>
                </div>
            </div>
        </div>
        <div class="tela"></div>
    </div>
</div>
        <!-- Paginação -->
        <div class="navegacao">
            <button class="nav1">&lt;</button>
            <button class="nav2">1</button>
            <button class="nav3">2</button>
            <button class="nav4">3</button>
            <button class="nav5">4</button>
            <button class="nav6">5</button>
            <button class="nav7">&gt;</button>
        </div>
    </div>
</body>
</html>
