<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal de editar</title>
</head>
<body>
    <div class="container">
        <div class="tabela-container">
            <table class="tabela-posts">
                <thead>
                    <th>Editar</th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <button class="btn-acao btn-editar" onclick="abrirModal('editar')"><i class="fa-regular fa-eye"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="modalc" id="editar">
            <div class="modal-header">
                <h3>Editar o post</h3>
            </div>
            <div class="modal-container">
                <div class="modal-buttons">
                    <button class="button-cancelar" onclick="fecharModal('editar')">Cancelar</button>
                    <button class="button-editar">Editar</button>                   
                </div>g
            </div>
        <div class="tela"></div>
    </div>
</body>
</html>