.modal{
    background-color: rgb(var(--cyan));
    color: rgb(var(--white));
    width: 50vw;
    height: 95vh;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px;
    transform: translate(-50%, -50%);
    z-index: 4;
}
.modal--header{
    display: flex;
    justify-content: center;
}
.modal--header h3{
    text-align: center;
    margin: 20px 0;
    font-size: 2rem;
    justify-content: center;
}
.buttonModal{
    width: 100px;
    border: none;
    border-radius: 10px;
    color: rgb(var(--white));
    cursor: pointer;
}
.buttonModal__cancelar{
    background-color: rgb(var(--red));
}
.buttonModal__editar{
    background-color: rgb(var(--yellow));
}
.modal ::-webkit-scrollbar{
    width: 10px;
    margin-right: 5px;
    background-color: transparent;
}
.modal ::-webkit-scrollbar-track{
    border-radius: 40px;
}
.modal ::-webkit-scrollbar-thumb{
    background-color: rgba(var(--cyan), 0.5);
    border-radius: 40px;
}
.note-editor, .note-frame {
    max-width: 500px;
    width: 100%;
}
.note-editing-area {
    background-color: rgb(var(--white));
}
/*
    STYLE OF THE RATING OF ALL MODAIS
*/
#rating{
    display: flex;
}
.star{
    width: 30px;
    height: 30px;
    background-color: rgb(var(--gray));
    margin-right: 5px;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    position: relative;
}
.star.full {
    background-color: rgb(var(--yellow));
}
.star.half {
    background: linear-gradient(to right,rgb(var(--yellow))  50%, rgb(var(--cyan)) 50%);
}
.star.empty {
    background-color: rgb(var(--cyan));
}