.modalr{
    background-color: rgb(var(--cyan));
    width: 50%;
    height: 80%;
    border-radius: 10px;
    position: absolute;
    display: none;
    top: 0;
    flex-direction: column;
    color: rgb(var(--white));
    overflow-y: scroll;
    z-index: 3;
}
.modal-header{
    display: flex;
    justify-content: center;
    position: relative;
}
.modal-header h3{
    text-align: center;
    margin: 20px 0 10px 0;
}
.modal-header button{
    width: 20px;
    height: 20px;
    background: transparent;
    color: rgb(var(--white));
    font-size: 20px;
    position: absolute;
    right: 5vw;
    bottom: 2.5vh;
    cursor: pointer;
} 
.modal-container {
    background-color: rgb(var(--firstBlue));
    width: 95%;
    height: 87%;
    border-radius: 10px;
    align-self: center;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}
.modal-container img:first-child {
    width: 150px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
#modalPost--container--header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 3.5rem 0;
    gap: 4rem;
}
#modalPost--user img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border: 50px;
}
#modalPost--user{
    display: flex;
    align-items: center;
    gap: 1.2rem;
}
.tela{
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(var(--black));
    opacity: 0.5;
    z-index: 2;
    transition: opacity 0.5s;
}
.button-modals{
    width: 100px;
    padding: 11px;
    border: none;
    border-radius: 10px;
    color: rgb(var(--white));
    cursor: pointer;
}
.button-calcelar{
    background-color: rgb(var(--red));
}
#modalPost--photos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
}
#retratoPost{
    width: 300px;
    object-fit: cover;
}
textarea{
    resize: none;
}
form{
    display: flex;
    margin: 4rem 0;
    justify-content: center;
}