<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/landing-page.css">
    <link href="https://api.fontshare.com/v2/css?f[]=satoshi@400,500&display=swap" rel="stylesheet">
    <title>Play Stroll</title>
</head>
<body>
    <main>
        <div class="sessao-introducao">            
            <div class="imagem-introducao">
                <img src="/public/assets/god-of-war.png" alt="Stardew Valley">                
                    <div class="fade">
                        <div class="fade-text">
                            <p class="nome-do-jogo-fade">Nome do Jogo</p>
                            <p><span style="color: #FFC739;"> ★★★★☆</span>4,5</p>
                            <p class="autor"> <img src="/public/assets/usuario.png" alt="usuario">NomeDeUsuário</p>
                            <p class="descricao"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ex nibh, eleifend id aliquam at, fermentum ut ante... </p>
                            <button class="botao-veja-mais-fade">Veja mais</button>
                        
                    </div>
                </div>
            </div>    

            <button class="anterior" onclick="changeImage(-1)">&#10094;</button>
            <button class="proximo" onclick="changeImage(1)">&#10095;</button>
        
                <h2 class="comunidade">Comunidade <span style="color: #C70E37;"> engajada</span> e <span style="color: #C70E37;">diversificada</span> em diferentes tipos de jogos</h2>


    <section class="ultimas-postagens">
        <h1>Últimas publicações</h1>
        <div class="posts">
            <div class="post-individual">
                <img class="capa-jogo" src="/public/assets/banner.png" alt="Capa do post 1">
                <h3><span style="color: #000000;">Nome Do Jogo</span></h3>
                <div class="nota">
                    <span style="color: #FFC739;"> ★★★★☆</span> <span style="color: #080B3C;">4,5</span>
                </div>
                <p class="autor"> <img src="/public/assets/usuario.png" alt="usuario"> <span style="color: #0B0B0B;">NomeDeUsuário</span></p>
                <p class="descricao"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Suspendisse ex nibh, eleifend id aliquam at, fermentum ut ante. 
                Nam fringilla ipsum vitae tempus euismod. In hac habitasse platea dictumst... </p>
                <button class="botao-veja-mais">Veja mais</button>
            </div>

            <div class="post-individual">
                <img class="capa-jogo" src="/public/assets/banner.png" alt="Capa do post 2">
                <h3><span style="color: #000000;">Nome Do Jogo</span></h3>
                <div class="nota">
                    <span style="color: #FFC739;"> ★★★★☆</span> <span style="color: #080B3C;">4,5</span>
                </div>
                <p class="autor"> <img src="/public/assets/usuario.png" alt="usuario"> <span style="color: #0B0B0B;">NomeDeUsuário</span></p>
                <p class="descricao">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Suspendisse ex nibh, eleifend id aliquam at, fermentum ut ante. 
                    Nam fringilla ipsum vitae tempus euismod. In hac habitasse platea dictumst... </p>
                <button class="botao-veja-mais">Veja mais</button>
            </div>

            <div class="post-individual">
                <img class="capa-jogo" src="/public/assets/banner.png" alt="Capa do post 3">
                <h3><span style="color: #000000;">Nome Do Jogo</span></h3>
                <div class="nota">
                    <span style="color: #FFC739;"> ★★★★☆</span> <span style="color: #080B3C;">4,5</span>
                </div>
                <p class="autor"> <img src="/public/assets/usuario.png" alt="usuario"> <span style="color: #0B0B0B;">NomeDeUsuário</span></p>
                <p class="descricao">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Suspendisse ex nibh, eleifend id aliquam at, fermentum ut ante. 
                    Nam fringilla ipsum vitae tempus euismod. In hac habitasse platea dictumst... </p>
                <button class="botao-veja-mais">Veja mais</button>
            </div>
            <button class="ante" onclick="changeImage(-1)">&#10094;</button>
            <button class="prox" onclick="changeImage(1)">&#10095;</button>
        </div>
     
        </section>
            <div class="sobre-playstroll">
                <p class="proposito">Sobre o próposito da PlayStroll</p>
                <div class="div-sobre">
                    <img src="/public/assets/logo-clara.png" alt="Imagem sobre PlayStroll" class="imagem-sobre">
                    <div class="texto-sobre">
                        <p>Conectar pessoas apaixonadas por jogos, oferecendo um espaço para descobrir novas experiências e compartilhar opiniões sinceras sobre diversos títulos. O Play Stroll convida os usuários a embarcarem em uma jornada imersiva e diversificada pelo universo dos games, onde cada  review vai além da análise técnica,capturando as emoções e vivências únicas de cada jogador. Além disso, o site busca mostrar como os jogos podem impactar profundamente nossa forma de ver o mundo, criando memórias valiosas que nos acompanham ao longo da vida. Aqui, os usuários podem compartilhar críticas, elogios ou simplesmente relatar momentos marcantes de suas gameplays.</p>
                    </div>
                </div>
            </div>
    </main>
</body>
</html>