<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lista de posts</title>
    <link rel="stylesheet" href="/public/css/lista-de-posts.css">
</head>
<body>
    <div class="navbar"></div>
    <div class="barra-de-pesquisa">
        <div class="busca"><p>ENCONTRE UM JOGO</p></div>
        <div class="pesquisa"></div>
    </div>
    <div class="inicialização-dos-posts">
        <h4>MAIS RECENTES</h4>
        <div class="barra1"></div>
    </div>
    <div class="primeiro-post">
        <div class="imagem1"><img src="arquivos/foto jogo1.jpg"></div>
        <div class="texto">
            <div class="titulo1">
                <h3>NOME DO JOGO</h3>
            </div>
            <div class="dados">
                <div class="perfil1"><img src="arquivos/perfil1.jpg"></div>
                <div class="user1"><p>Nome_de_usuario</p>></div>
            </div>
            <div class="conteúdo">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam, unde laborum ipsa sequi
                 maiores eius odit! Ea, quo soluta, harum facere voluptatum pariatur blanditiis 
                 dolorem sit tempore minima, deleniti quaerat. Lorem ipsum dolor, sit amet consectetur 
                 adipisicing elit. Consequatur provident ex, ipsam dignissimos perspiciatis neque, culpa praesentium asperiores
                  necessitatibus eligendi aspernatur voluptatem ratione. 
                  Eum voluptatem mollitia sequi repellat dignissimos suscipit! Lorem ipsum dolor sit amet consectetur 
                  adipisicing elit. Eligendi nostrum alias qui mollitia, officiis, nulla maiores placeat, 
                  officia natus modi reiciendis recusandae quaerat magni? Ipsam facere ut nisi repudiandae quo.
                </p>
            </div>
            
        </div>
    </div>
</body>
</html>