<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/public/css/login.css" />
    <title>Login</title>
  </head>
  <body>
    <div class="gradient">
      <div class="login">
        <div class="parte-de-cima">
          <h1>Login</h1>
        </div>
        <div class="parte-de-baixo">
          <div class="parte-email">
            <h3>Email</h3>
            <input type="text" placeholder="fulano@gmail.com" />
          </div>
          <div class="parte-senha">
            <h3>Senha</h3>
            <input type="password" placeholder="*********" />
          </div>
          <div class="botao-login">
            <button>Login</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
