<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="login">
        <div class="parte-de-cima"><h1>Login</h1></div>
        <div class="parte-de-baixo">
            <div class="parte-email">
                <h3 class="email">Email</h3>
                <h4 class="escreve-email">fulano@gmail.com</h4>
            </div>
            <div class="parte-senha">
                <h3 class="senha">Senha</h3>
                <h4 class="escreve-senha">*********</h4>
            </div>
        </div>
    </div>
</body>
</html>