<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
</head>
<body>
    <nav id="navbar">
        <figure>
            <img src="/public/assets/" alt="">
            <figcaption>PLAY STROLL</figcaption>
        </figure>
        <ul>
            <li>
                <i></i>
                <p>Posts</p>
            </li>
            <li>
                <i></i>
                <p>Buscar</p>
            </li>
            <li>
                <i></i>
                <p>Login</p>
            </li>
        </ul>
    </nav>
</body>
</html>