<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/post-individual.css" />
    <link href="https://api.fontshare.com/v2/css?f[]=satoshi@300,301,400,401&display=swap" rel="stylesheet">
    <title>Post-individual</title>
</head>

<body>
    <div class="gradient">
        <div class="site">
            <div class="linha-azul">.</div>
            <img src="/public/assets/image 1.png" alt="" class="image1">
            <div class="avaliation-line">
                <img src="/public/assets/Ellipse.png" alt="" class="icon1">
                <img src="/public/assets/Frame.png" alt="" class="icon2">
                <div>
                    <h2>Autor</h2>
                    <h3>Data de criação</h3>
                </div>
                <h3>★★★☆☆ - 3,0</h3>
            </div>
            <h1>Integer aliquam mattis justo id lobortis. </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris commodo egestas felis sed tempor.
                Vestibulum a egestas sapien. Proin quis efficitur elit, vel accumsan arcu. Nam fringilla massa sit amet
                enim iaculis venenatis. Donec efficitur arcu ornare risus condimentum, nec ornare enim finibus. Nam
                rutrum est in volutpat porttitor. Morbi nec posuere tellus, et ultricies dolor. Quisque facilisis, felis
                mollis tempor pharetra, lorem libero varius mi, et malesuada est turpis nec erat. Curabitur aliquam
                dignissim sem vitae pulvinar. In luctus nunc id augue feugiat varius vel vel est. Proin maximus lectus
                ut ullamcorper fermentum. Duis varius aliquet dui. Nulla risus nisi, consequat sit amet magna a,
                suscipit finibus lorem. Nunc nibh ligula, ullamcorper a tincidunt non, cursus ac nisl.
            </p>
            <img src="/public/assets/image 2.png" alt="" class="image2">
            <p>
                orem ipsum dolor sit amet, consectetur adipiscing elit. Mauris commodo egestas felis sed tempor.
                Vestibulum a egestas sapien. Proin quis efficitur elit, vel accumsan arcu. Nam
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris commodo egestas felis sed tempor.
                Vestibulum a egestas sapien. Proin quis efficitur elit, vel accumsan arcu. Nam fringilla massa sit amet
                enim iaculis venenatis. Donec efficitur arcu ornare risus condimentum, nec ornare enim finibus. Nam
                rutrum est in volutpat porttitor. Morbi nec posuere tellus, et ultricies dolor. Quisque f
            </p>
        </div>
    </div>
</body>

</html>