<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/post-individual.css" />
    <link href="https://api.fontshare.com/v2/css?f[]=satoshi@300,301,400,401&display=swap" rel="stylesheet">
    <title>Post-individual</title>
</head>
<body>
        <div class="gradient">
            <div class="coluna-azul"></div>
            <img src="/public/assets/image 1.png" alt="">
        </div>
</body>
</html>