.modal-criar {
    background-color: #237ecd;
    color: white;
    max-height: 455px;
    height: auto;
    width: 50%;
    border-radius: 10px;
    padding: 20px;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 3;
}

.modal-container {
    background-color: #080b3c;
    width: 100%;
    max-height: 402px;
    overflow-y: auto;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;  
}

.custom-file-label {
    display: inline-block;
    background-color: #237ecd;
    color: white;
    padding: 10px 15px;
    margin: 5px 5px 10px 0;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.custom-file-label:hover {
    background-color: #1b5fa7;
}

.file-name {
    margin-left: 10px;
}

.capa, .retrato {
    display: flex;    
    align-items: center;
    flex-direction: row;
}

.capa {
    column-gap: 65px;

}

.retrato {
    column-gap: 100px;

}

.label-container {
    display: flex;
    flex-direction: column;    
}

.imagens {
    display: flex;
    justify-content: space-around;  
    flex-direction: column;  
    max-width: 458px;
    width: 100%;    
    padding-top: 18px;
}

.container-image {
    display: flex;
    flex-direction: column;
}

.capaCreate-preview {    
    width: 140px;
    height: 90px;
    object-fit: cover;
    border: 2px solid #ddd;
    margin: 10px 10px 10px 0px;
    display: none; 
}

.retratoCreate-preview {
    width: 75px;
    height: 100px;
    object-fit: cover;
    border: 2px solid #ddd;
    margin: 10px 10px 10px 0px;
    display: none; 
}

.parte-retrato, .parte-capa {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.image-capa, .image-retrato {
    max-width: 60%;
    width: 100%;
    display: none;
}

.btn-remove-imagem-capa, .btn-remove-imagem-retrato {
    background-color: #C70E3C; 
    font-size: 20px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: white;
    display: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: -25px;
  }

.btn-remove-imagem-capa:hover, .btn-remove-imagem-retrato:hover {
    background-color: #a6072e;
}


.parte-retrato:hover .btn-remove-imagem-retrato, .parte-capa:hover .btn-remove-imagem-capa {
    display: block;
}

.placeholders-criar {
    display: flex;
    flex-direction: column;
    max-width: 458px;
    width: 100%;
    margin-bottom: 10px;
    text-align: start;
    row-gap: 10px;
}

.parte-data {
    display: flex;
    flex-direction: column;
    width: 28%;
}

.data {
    outline: none;
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.second-line {
    display: flex;
    justify-content: space-between;
}

.parte-titulo {
    display: flex;
    flex-direction: column;
    width: 63%;
}

.parte-avaliacao {
    display: flex;
    flex-direction: column;
    width: 21%;
}

.avaliacao {
    width: 100%;
    outline: none;
    box-sizing: border-box;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.titulo {
    color: #00aea0;
    outline: none;
    width: 97%;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.diminuir-word {
    width: 100%;
}

.note-editor, .note-frame {
    max-width: 460px;
    width: 100%;
    max-height: 900px;
    height: 100%;
    overflow: hidden;
}

.note-editing-area {
    background-color: white;
    padding-bottom: 20px;
}

.modal-buttons {
    margin: 8px 0 16px 0;   
    display: flex;
    justify-content: center;
    column-gap: 12px;
}

.button-cancelar, .button-postar {
    color: white;
    width: 100px;
    border: none;
    border-radius: 10px;
    padding: 11px;
    cursor: pointer;
}

.button-cancelar {
    background-color: #646464;
}

.button-cancelar:hover {
    background-color: #4d4c4c;
}

.button-postar {
    background-color: #237ecd;
}

.button-postar:hover {
    background-color: #1b5fa7;
}

.tela {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 2;
}

.note-modal-backdrop {
    z-index: 5;
    position: relative;
}

.erro {
    color: red;
    font-size: 12px;
    text-align: start;
    display: block;
    margin-left: 0;
    margin-bottom: 2px;
    margin-top: 10px;
}

.erro-img {
    color: red;
    font-size: 12px;
    text-align: start;
    display: block;
    margin-left: 0;
    margin-bottom: 5px;
    width: 160px;
}

.modal-criar ::-webkit-scrollbar{
    width: 10px;
    margin-right: 5px;
    background-color: transparent;
}
.modal-criar ::-webkit-scrollbar-track{
    border-radius: 40px;
}
.modal-criar ::-webkit-scrollbar-thumb{
    background-color: rgba(27, 95, 167, 0.5);
    border-radius: 40px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .modal-criar {
        width: 65%;
    }

    .capa, .retrato {
        margin-bottom: 0;
    }

    .custom-file-label {
        padding: 5px 10px;
    }

    .placeholders-criar {      
        margin-bottom: 16px;
        row-gap: 8px;
    }
    
    .data {
        width: 100%;
    }

    .parte-avaliacao {
        margin-bottom: 0 auto;
        width: 23%;
    }

    .parte-titulo {
        margin-bottom: 0 auto;
        width: 73%;
    }

    .diminuir-word {
        max-height: 230px;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .modal-buttons {
        width: 90%;
    }

    .button-cancelar, .button-postar {        
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 767px) {
    .modal-criar {        
        width: 70%;
    }

    label {
        font-size: 12px;
    }

    #btn-remover-imagem-capa, #btn-remover-imagem-retrato {
        font-size: 12px;    
    }   

    .titulo, .avaliacao {
        font-size: 12px;
        width: 100%;
    }

    .capaCreate-preview {
        width: 125px;
        height: 75px;
    }

    .retratoCreate-preview {
        width: 50px;
        height: 75px;
    }

    .capa, .retrato {
        margin-bottom: 0 auto;
        flex-direction: column-reverse;
    }

    .capa {
        margin-bottom: 10px;
    }

    .custom-file-label {
        padding: 5px 10px;
        margin: 8px;
    }

    .abc {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .placeholders-criar {
        margin-bottom: 10px;
        max-width: 210px;
        width: 100%;
    }    

    .parte-data {
        margin-bottom: 0 auto;
        width: 100%;
    }

    .second-line {
        flex-direction: column-reverse;
    }

    .parte-avaliacao {
        margin-bottom: 10px;
        width: 100%;
    }

    .parte-titulo {
        margin: 0;
        width: 100%;
    }

    .diminuir-word {
        max-width: 210px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .note-editor, .note-frame {
        font-size: 10px; 
    }

    .note-toolbar .note-btn-group {
        flex-wrap: wrap; 
    }

    .note-btn {
        font-size: 9px; 
        padding: 2px 4px; 
    }

    .note-editable {
        min-height: 60px; 
    }

    .button-cancelar, .button-postar {
        margin: 5px;
        padding: 6px;
    }
}